/* This is where styles are defined for your page. */
/* One style is provided as example. */
body{
	background-image: url('images/hiking-the-sand-dunes.jpg');
	font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

Header.page-header {
	border: solid 1px black;
	padding: 10rem;
	margin: 120px; 
	border-radius: 20px;
}

.page-header h1 {
	margin-bottom: 0;
	text-align: center;
	margin-right: auto;
	margin-left: auto; 
	
}

.page-header p {
	margin-top: 0;
	text-align: center;
	margin-right: auto;
	margin-left: auto; 
}

.page-header small {
	font-size: medium;
}

aside.more-info {
	background: lightcyan;
	border-radius: 0px;
}

aside.more-info img {
	width: 150px;
	height: auto;
}

aside.more-info img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

aside.more-info p {
	text-align: left;
	margin-right: 10px;
	margin-left: auto; 
}

section#content {
	background: lightcyan;
	border-radius: 0px;
}

.poem {
	list-style-type: none;
	border-radius: 20px;
}

.poem li{
	font-size: large; 
}

footer.pagefooter {
	border: solid 1px black;
	background: lightcyan;
	border-radius: 20px;
}

footer.contentfooter p {
	position: aboslute; 
	top:0;
}

